@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@import 'react-calendar/dist/Calendar.css';

/* Tailwind directives */

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Outfit', sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
}

.active hr {
  @apply block;
}

button {
  @apply transition duration-300 ease-in-out;
}

ul li {
  @apply transition-colors duration-200;
}