/* Import fonts first */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
* {
  font-family: 'Outfit', sans-serif;
}

.active hr {
  @apply block;
}

button {
  @apply transition duration-300 ease-in-out;
}

ul li {
  @apply transition-colors duration-200;
}
